body {
    background-color: rgb(141, 209, 139);
    color: white;
  }
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid rgb(129, 212, 140);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=number]:focus {
    border: 3px solid rgb(2, 27, 10);
  }

  input[type=submit] {
    background-color: #004d17;
    color: white;
    padding: 15px 23px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  input[type=submit]:hover {
    background-color: #4e8a46;
  }

  #form-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: rgb(56, 126, 77);
    padding: 20px;
    border-radius: 20px;
}